* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 425px) {
  .navbar-nav { display: none }
  .homepage-title {padding-top: 0}
}

@media only sccreen and (max-height: 450px) {
  .side-nav { padding-top: 15px }

  .side-nav a { font-size: 18px }
}

@media only screen and (min-width: 768px) {
  .side-nav, .open-slide { display: none }
}

nav {
  display: block;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  height: 63px;
}

.navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.navbar li {
  font-family: roboto;
  padding: 0.5rem;
  margin: 0;
}

.open-slide {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 0.5rem;
  transition: 0.5s;
}

.side-nav a {
  display: block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.3rem;
  /* transition: 0.3s; */
}

.side-nav a:hover {
  color: #ffffff;
}

.side-nav .btn-close {
  position: absolute;
  top:0;
  right: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
}

a, span {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.5ex;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
}

a:hover, button:hover {
  font-weight: 400;
  border-bottom: 2px solid green;
  opacity: 50%;
}

.box {
  background-color: blue;
}

section {
  display: block; 
}

button {
  font-size: 1.1rem;
  padding: 1.2rem;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 0.3rem;
  background-color: #ffffff;
}

a,
button, 
span {
  color: green;
  font-weight: 400;
}

.homepage-title {
  font-size: 2.5rem;
  font-weight: 350;
  text-align: center;
  padding-top: 13rem;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.homepage-caption {
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 350;
  text-align: center;
}

.button {
  /* margin-top: 3rem; */
  padding: 1.2rem;
}