* {
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav {
  display: block;
  color: #ffffff;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  font-family: roboto;
  padding: 0.5rem;
  margin: 0;
}

li:first-child {
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
}

li:last-child {
  /* margin-left: 1rem; */
}

a {
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.5ex;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
  margin: 0;
}

a:hover {
  /* color: white; */
  font-weight: 400;
  border-bottom: 2px solid green;
  opacity: 50%;
}

img {
  /* height: 2175.2px; */
  border-radius: 1.75%;
  border: 2px solid black;
}

button {
  font-size: 1.1rem;
  padding: 1.2rem;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 0.3rem;
  background-color: #ffffff;
}

a,
button,
.name {
  color: green
}

.navigation-menu-item {
  position: relative;
}

.box {
  border: 1px solid black;
}

.homepage-title {
  font-size: 2.5rem;
  font-weight: 350;
  text-align: center;
  margin-top: 13rem;
}

.homepage-caption {
  font-size: 4rem;
  font-family: 'Roboto',
  sans-serif;
  font-weight: 350;
  text-align: center;
}

.button {
  margin: 1.2rem;
}