* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-weight: 300; */
}

@media only screen and (max-width: 425px) {
  .navbar-nav {
    display: none
  }

  .homepage-title {
    padding-top: 1rem
  }
}

@media only screen and (min-width: 768px) {
  .open-slide {
    display: none
  }
}

nav {
  display: block;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  height: 63px;
}

.navbar ul {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 1rem;
  margin-right: .5rem;
}

.navbar li,
.social-icons li {
  font-family: roboto;
  margin: .5rem;
}

.open-slide {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightgray;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 0.5rem;
  transition: 0.5s;
}

.side-nav a {
  display: block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 1.3rem;
  /* transition: 0.3s; */
}

.side-nav a:hover {
  color: #ffffff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 1rem;
  margin-left: 2rem;
  font-size: 2rem;
}

a,
span {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem;
}

a:hover,
button:hover {
  font-weight: 400;
  border-bottom: 2px solid green;
  opacity: 50%;
}

button {
  font-size: 1.1rem;
  padding: 1.2rem;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 0.3rem;
  background-color: #ffffff;
}

a,
button,
span {
  color: green;
  font-weight: 400;
}

h1 {
  text-align: center;
}

section {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

footer {
  background-color: #f2f2f2
}

.header-title,
.header-caption {
  font-weight: 350;
  text-align: center;
  /* border: 1px solid black; */
}

.header-title {
  font-size: 2.5rem;
  padding-top: 6rem;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.header-caption {
  font-size: 4rem;
}

.button {
  margin-top: 2.5rem;
  margin-left: 0;
  padding: 1.2rem;
  /* border: 1px solid black; */
}

.about-text {
  padding: 1rem;
  /* align-items: center; */
  text-align: center;
  letter-spacing: 0.07rem;
  /* border: 1px solid black; */
}

.projects {
  margin: 0 auto;
}

.projects-header {
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700px;
  text-align: center;
  padding-bottom: 3.2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2%;
  /* border: 2px solid whitesmoke; */
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  background-color: white;
}

.project-card-header {
  padding: 20px;
}

.project-card-thumbnail {
  align-self: center;
  aspect-ratio: 1 / 1;
  width: 80%;
  height: 80%;
  border: 1px solid palegreen;
  background-color: palegreen;
}

.project-card-text {
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid black; */
}

.twitter-follow-button {
  margin-top: 2rem;
  text-align: center;
}

a.github-logo-link:hover {
  border-bottom: 0;
}

.github-logo {
  height: 35px;
  margin-top: 1.5rem;
  border-bottom: 0;
}

.footer-text {
  padding: 30px;
  text-align: center;
}

a.site-link {
  font-size: 13px;
  padding: 0;
  letter-spacing: 0.2rem;
  border-bottom: 2px dashed lightgreen;
}

a.site-link:hover {
  border-bottom: 0
}

.social-icons {
  line-height: 1.8;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: baseline;
}

.social-icons li {
  display: inline;
}